@import "tailwindcss";

body {
  background-color: #111212;
}

:root {
  --theme-color: #780000;
  --grey-color: #9e9e9e;
  --white-color: #ffffff;
  --dark-grey-color: #3f3f3f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}